absl-py
aiohttp
aiosignal
antlr4-python3-runtime
appdirs
async-timeout
asynctest
attrs
cachetools
chardet
charset-normalizer
click
cycler
docker-pycreds
einops
fonttools
freetype-py
frozenlist
fsspec
future
gitdb
gitpython
google-auth
google-auth-oauthlib
grpcio
hydra-core
imageio
importlib-metadata
importlib-resources
joblib
kiwisolver
markdown
markupsafe
matplotlib
moviepy
multidict
networkx
numpy
oauthlib
omegaconf
packaging
pathtools
plyfile
protobuf
psutil
pyasn1
pyasn1-modules
pydeprecate
pyglet
pyopengl
pyparsing
pyrender
python-dateutil
pytorch-lightning
pywavelets
pyyaml
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scikit-video
sentry-sdk
setproctitle
setuptools
smmap
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
torch-fidelity
torchmetrics
tqdm
trimesh
typing-extensions
urllib3
wandb
werkzeug
yarl
zipp

# These ones are cuda specific
# blas
brotlipy
# bzip2
# ca-certificates
certifi
cffi
configargparse
cryptography
ffmpeg
freetype
giflib
gmp
gnutls
idna
igl
intel-openmp
jpeg
lame
lcms2
ld_impl_linux-64
lerc
libblas
libcblas
libcublas
libcufft
libcufile
libcurand
libcusolver
libcusparse
libdeflate
libffi
libgcc-ng
libgfortran-ng
libgfortran4
libgomp
libiconv
libidn2
libnpp
libnvjpeg
libpng
libstdcxx-ng
libtasn1
libtiff
libunistring
libwebp
libwebp-base
lz4-c
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nettle
numpy-base
openh264
openssl
pillow
#pip
pycparser
pyopenssl
pysocks
# python
# python_abi
#pytorch
#pytorch-cuda
#pytorch-mutex
readline
#scipy
six
sqlite
tk
#torchaudio
#torchvision
# typing_extensions
wheel
xz
zlib
zstd
